body {
  margin: 0;
  background: #f9fafb;
}

.pulse-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 999px;
  background: white;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(0.7);
  }
}
